#root{
  display: flex;
  align-items: center;
  height: 100vh;
  background: black;
  color: #ffffff;
  margin: 0 auto;
}
.tweet {
  border: 1px solid #ccc;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  align-items: center;
  }

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    }

  .message{
      color: #ffffff;
      font-size: 20px;
      padding: 10px 0;
    }
  .name {
      font-weight: bold;
      margin-bottom: 0.5em;
      margin-right: 0.3em;
      }
  .handle {
      color: #8899a6;
      font-size: 13px;
      }

  .time{
        padding: 0 10px;
   }

   .buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
    }
    
   .buttons i {
    width: 80px;
    }
    